<header id="header">
</header>
<main id="main">
    <ul class="cat-list" id="categories-list">
        <li class="cat">
            <a href="#">
                <div class="image-holder"><img src="images/icon1.png" alt="image description"></div>
                <div class="text-holder">
                    <strong class="title">All causes</strong>
                    <span class="count">173 Causes</span>
                </div>
            </a>
        </li>
    </ul>
</main>
<div id="loader"></div>
<script type="text/javascript" src="js/controllers/categories.js"></script>
