<header id="header">
    <div class="container">
        <span class="link-back"><a href="#" id="go-back"><i class="icon-arrow-left"></i>Back</a></span>
        <span class="main-title" id="cause-title"></span>
        <div class="search"><a href="#"><i class="icon-heart"></i></a></div>
    </div>
</header>

<main id="main">
    <div class="fixed-element-wrap">
        <section class="cause-block">
            <div class="video-holder">
                <iframe id="video" width="560" height="175" src="" allowfullscreen></iframe>
            </div>
            <header class="cause-header">
                <div class="header-content">
                    <h2 id=""></h2>
                    <span class="author"><i class="icon-people"></i><span id="author"></span></span>
                </div>
                <div class="tag-holder">
                    <span class="tag">Environment</span>
                </div>
            </header>
            <div class="cause-content">
                <div class="cause-progress">
                    <div class="progress-info">
                        <span class="progress-label">Funded</span>
                        <span class="progress-data" id="funded"></span>
                    </div>
                    <div class="progress-bar">
                        <span class="progress" id="funded-progress"></span>
                    </div>
                    <div class="fund-amount" id="funded-amount"></div>
                </div>
                <ul class="action-holder">
                    <li><a href="#"><i class="icon-share"></i></a></li>
                    <li><a href="#" class="btn btn-primary btn-alternate">Donate now</a></li>
                    <li><a href="#"><i class="icon-comment"></i></a></li>
                </ul>
                <div class="three-columns">
                    <div class="col">
                        <a href="#"><span id="views"></span> <span class="text">Views</span></a>
                    </div>
                    <div class="col">
                        <a href="#"><span id="backers"></span> <span class="text">Backers</span></a>
                    </div>
                    <div class="col">
                        <span id="days-left"></span>
                    </div>
                </div>
            </div>
        </section>
        <article class="information-block">
            <h2>About</h2>
            <p id="about"></p>
        </article>
        <section class="contact-info">
            <h2>Contact</h2>
            <ul class="contact-list">
                <li><i class="icon icon-mail"></i><span id="contact-email"></span></li>
                <li><i class="icon icon-phone"></i><span id="contact-phone"></span></li>
                <li><i class="icon icon-skype"></i><span id="contact-skype"></span></li>
            </ul>
        </section>
        <div class="selfie-action">
            <a href="#" id="take-selfie-btn" class="selfie-button"><img src="images/home-button.png" alt="image description" width="34" height="34"></a>
            <span class="action-text">Take a Selfie</span>
        </div>
    </div>
</main>

<script type="text/javascript" src="js/controllers/cause_campaign.js"></script>
