<div class="main-bg" style="background-image: url(images/main-bg.png);"></div>
<div class="main-screen">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="Selfie Cause"></a></div>
    <form class="form-area form-validation" action="#">
        <div class="form-group">
            <input type="email" id="email" data-type="email" data-required="true" placeholder="Email">
            <i class="icon icon-mail"></i>
        </div>
        <div class="form-group">
            <input type="password" id="password" data-required="true" placeholder="Password">
            <i class="icon icon-lock"></i>
        </div>
        <span class="forgot-link"><a href="#" id="btn-password-recovery">Forgot your Password?</a></span>
        <button class="btn btn-secondary" id="btn-signin">Sign In</button>
        <div class="social-sign">
            <span class="title">or sign with a social account</span>
            <ul class="social-network">
                <li><a id="btn-gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
            </ul>
        </div>
    </form>
</div>
<a href="#" id="btn-signup" class="alternate-link add">Do not have an account? Create Account.</a>
<script type="text/javascript" src="js/controllers/login.js"></script>
