<div class="main-bg" style="background-image: url(images/main-bg.png);"></div>
<div class="main-screen">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="Selfie Cause"></a></div>
    <div class="recovery-form">
        <h1>password recovery</h1>
        <div class="form-area">
            <div class="form-group">
                <input type="text" placeholder="Username">
                <i class="icon icon-avatar"></i>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email">
                <i class="icon icon-mail"></i>
            </div>
            <span class="info">Curabitur lobortis lorem id bibendum. Ut consectetur magna.</span>
            <button class="btn btn-secondary">Recover</button>
        </div>
    </div>
</div>
<a href="#" id="btn-signin" class="alternate-link add">Back to Sign In</a>
<script type="text/javascript" src="js/controllers/password-recovery.js"></script>
