<div id="wrapper" class="main-wrap">
    <header id="header">
        <div class="container">
            <!-- <a href="#" class="menu"><span>menu</span></a> -->
            <span class="link-back"><a href="#" id="btn_back"><i class="icon-arrow-left"></i>Back</a></span>
            <span class="main-title">Edit Photo</span>
            <span class="link-save"><a href="#" id="btn_save">Save</a></span>
        </div>
    </header>
    <main id="main">
        <div class="edit-block">
            <div class="edit-frame">
                <div class="upper-area" style="background-color: #e9417d;"></div>
                <div class="photo-frame">
                    <img id="img" />
                </div>
            </div>
            <div class="edit-option">
                <ul>
                    <li class="active"><a href="#">Reframe</a></li>
                    <li><a href="#">Filters</a></li>
                    <li><a href="#">Texts</a></li>
                    <li><a href="#">Colors</a></li>
                </ul>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" src="js/controllers/picture_edit_reframe.js"></script>
