<div class="picture-block">
    <div class="block-heading">
        <strong class="block-title">All pictures/videos</strong>
        <div class="option">
            <a href="#"><img src="images/dots.svg" width="5" alt="option"></a>
        </div>
    </div>
    <ul class="picture-list" id="list">
        <li><a href="#"><img src="images/pic1.jpg" alt="image description"></a></li>
    </ul>
</div>
<script type="text/javascript" src="js/controllers/pictures.js"></script>
<script type="text/javascript" src="js/aws-sdk.min.js"></script>

