<div class="main-screen">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="Selfie Cause"></a></div>
    <div class="form-area">
        <div class="form-group">
            <input type="text" placeholder="Username">
            <i class="icon icon-avatar"></i>
        </div>
        <div class="form-group">
            <input type="email" placeholder="Email">
            <i class="icon icon-mail"></i>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password">
            <i class="icon icon-lock"></i>
        </div>
        <span class="info">You further agree to comply with the supplemental terms and conditions set forth in this <a href="#">Agreement.</a></span>
        <button class="btn btn-primary">Sign Up</button>
    </div>
</div>
<a href="#" class="alternate-link">Already have an account? Sign in.</a>