<div class="slide-menu">
    <div class="main-bg" style="background-image: url(images/main-bg.png);"></div>
    <div class="logo"><a href="#"><img src="images/logo.png" alt="Selfie Cause" width="218" height="56"></a></div>
    <nav id="nav">
        <ul>
            <li><a id="btn-home" href="#"><i class="icon-home"></i>Home</a></li>
            <li><a id="btn-rewards" href="#"><i class="icon-star"></i>Rewards <span class="batch">+17</span></a></li>
            <li><a id="btn-favorites" href="#"><i class="icon-heart"></i>Favorites <span class="batch">+17</span></a></li>
            <li><a id="btn-pictures" href="#"><i class="icon-pic"></i>Pictures <span class="batch">+17</span></a></li>
        </ul>
    </nav>
    <ul class="user-action">
        <li><a id="btn-settings" href="#"><i class="icon-setting"></i>Settings</a></li>
        <li><a id="btn-logout" href="#"><i class="icon-logout"></i>Logout</a></li>
    </ul>
</div>
<div class="container">
    <a href="#" class="menu"><span>menu</span></a>
    <span class="main-title" id="main-title"></span>
    <div class="search"><a href="#"><img src="images/icon-search.png" alt="image description"></a></div>
</div>
<script type="text/javascript" src="js/controllers/slidemenu.js"></script>
