/* custom file input styles */

.jcf-file {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.jcf-file .jcf-real-element {
    position: absolute;
    font-size: 200px;
    height: 200px;
    margin: 0;
    right: 0;
    top: 0;
}

.jcf-file .jcf-fake-input {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid #777;
    padding: 0 8px;
    font-size: 13px;
    line-height: 28px;
    height: 28px;
    width: 125px;
}

.jcf-file .jcf-upload-button {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #777;
    margin: 0 0 0 -1px;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
}


/* common custom form elements styles */

.jcf-disabled {
    background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
    /*border-color: #f00 !important;*/
}